/* CSS voor Punch WP Bootstrap */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url(../../../library/wpb/images/bkg-900.png) top center no-repeat #eeeeee;
  background-size: cover;
  padding-top: 10px;
  color: #583aae;
  /* Margin bottom by footer height
    margin-bottom: 60px; */
}
@media (min-width: 992px) {
  .container {
    padding: 0 100px !important;
  }
}
hr {
  color: #583aae !important;
  background-color: #583aae !important;
  height: 4px;
  border-radius: 3px;
  margin: 4px 15px 4px !important;
  padding: 0;
}
p.lead {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.home-link {
  border: none;
  border: hidden;
}
.wpb-header {
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: #FFF;
  padding: 5px;
  margin: 0 0 3px 0;
  border-radius: 4px;
  background: url(../../../library/wpb/bkg/wit-80.png) top left repeat !important;
}
@media (min-width: 768px) {
  .wpb-header {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }
}
.wpb-header-title,
.wpb-header-title a {
  border: none;
  color: #59459C;
}
.wpb-header-logo {
  border: none;
  margin-bottom: 5px;
}
.wpb-header-text {
  margin-left: 0;
  background: url(../../../library/wpb/bkg/paars.png) top left repeat;
  border-radius: 4px;
}
.navbar {
  background: url(../../../library/wpb/bkg/wit-80.png) top left repeat !important;
  margin-bottom: 3px !important;
  border: none !important;
}
.navbar a {
  color: #583aae !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #ba71ca;
  color: #FFFFFF !important;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.zorgcirkels a:hover {
  background: #583aae !important;
  color: #FFFFFF !important;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.copd a:hover {
  background: #ee1c25 !important;
  color: #FFFFFF !important;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.diabetes a:hover {
  background: #f5b500 !important;
  color: #FFFFFF !important;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.vrm a:hover {
  background: #3eb64a !important;
  color: #FFFFFF !important;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.post_content a {
  color: #ba71ca;
  text-decoration: underline;
}
.post_content .lead {
  color: #ba71ca;
}
.post_content.copd a,
.post_content.copd .lead {
  color: #ee1c25;
}
.post_content.diabetes a,
.post_content.diabetes .lead {
  color: #f5b500;
}
.post_content.vrm a,
.post_content.vrm .lead {
  color: #3eb64a;
}
/* aanpassen aan bootstrap css settings */
/* jumbotron styles
-------------------------------------------------- */
.jumbotron {
  margin-bottom: 3px !important;
}
#main article {
  margin-bottom: 5px;
  border: none;
}
#content {
  padding-top: 0 !important;
}
.page-header {
  margin-top: 3px !important;
}
.post-header {
  background-color: #ba71ca;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  padding: 0;
}
.post-header-title {
  font-size: 11px;
  padding-right: 10px;
  padding-left: 30px;
}
.post_content {
  padding: 0 35px 0 15px !important;
}
@media (min-width: 768px) {
  .post_content {
    padding: 0 220px 0 45px !important;
  }
}
.tp-zorgcirkels-row {
  background-color: #583aae !important;
}
.tp-copd-row {
  background-color: #ee1c25 !important;
}
.tp-diabetes-row {
  background-color: #f5b500 !important;
}
.tp-vrm-row {
  background-color: #3eb64a !important;
}
.tp-links-row {
  background-color: #583aae !important;
}
.tp-zorgcirkels-row,
.tp-copd-row,
.tp-diabetes-row,
.tp-vrm-row,
.tp-links-row {
  /* background: url(../../../library/wpb/images/post-header-bkg.png) top left no-repeat; */
  border-radius: 3px;
}
/* 404 zoek veld */
.zoek-404 {
  margin: 10px 0 10px;
}
/* template 4 kolommen */
.thumb-4-col {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  background: url(../../../library/wpb/bkg/wit-30.png) top left repeat !important;
}
.thumb-4-col.hover,
.thumb-4-col:hover {
  background: url(../../../library/wpb/bkg/wit-70.png) top left repeat !important;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
  cursor: hand;
}
.thumb-4-col img {
  width: 100%;
}
.thumb-4-col-caption {
  margin: 0 6px 0 8px;
  color: #583aae;
}
.thumb-cols {
  padding: 8px 0 8px 0 !important;
}
.thumb-col-img {
  border-radius: 4px;
}
/* Sticky footer styles
-------------------------------------------------- */
.sticky-footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-right: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  background: url(../../../library/wpb/bkg/paars.png) top left repeat !important;
}
.footer a {
  color: #FFFFFF;
  font-size: 12px;
}
/* custom alerts */
.alert-zorgcirkels {
  color: #583aae;
  background-color: #e1dbf3;
  border-color: #583aae;
  margin: 40px 20px;
}
/* custom buttons */
.btn-4-col {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
/* Zorgcirkels basis */
.btn-zc-basis {
  background-color: #ba71ca;
  border-color: #ba71ca;
  color: #FFFFFF;
}
.btn-zc-basis:hover,
.btn-zc-basis:focus,
.btn-zc-basis:active,
.btn-zc-basis.active {
  /* background-color: #b15ec3; */
  background-color: #ffffff;
  border-color: #a84cbc;
  color: #ba71ca;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.btn-zc-basis.disabled:hover,
.btn-zc-basis.disabled:focus,
.btn-zc-basis.disabled:active,
.btn-zc-basis.disabled.active,
.btn-zc-basis[disabled]:hover,
.btn-zc-basis[disabled]:focus,
.btn-zc-basis[disabled]:active,
.btn-zc-basis[disabled].active,
fieldset[disabled] .btn-zc-basis:hover,
fieldset[disabled] .btn-zc-basis:focus,
fieldset[disabled] .btn-zc-basis:active,
fieldset[disabled] .btn-zc-basis.active {
  background-color: #ba71ca;
  border-color: #ba71ca;
}
/* Zorgcirkels COPD */
.btn-zc-copd {
  background-color: #ee1c25;
  border-color: #ee1c25;
  color: #FFFFFF;
}
.btn-zc-copd:hover,
.btn-zc-copd:focus,
.btn-zc-copd:active,
.btn-zc-copd.active {
  /* background-color: #A10306; */
  background-color: #ffffff;
  border-color: #c80f17;
  color: #ee1c25;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.btn-zc-copd.disabled:hover,
.btn-zc-copd.disabled:focus,
.btn-zc-copd.disabled:active,
.btn-zc-copd.disabled.active,
.btn-zc-copd[disabled]:hover,
.btn-zc-copd[disabled]:focus,
.btn-zc-copd[disabled]:active,
.btn-zc-copd[disabled].active,
fieldset[disabled] .btn-zc-copd:hover,
fieldset[disabled] .btn-zc-copd:focus,
fieldset[disabled] .btn-zc-copd:active,
fieldset[disabled] .btn-zc-copd.active {
  background-color: #ee1c25;
  border-color: #ee1c25;
}
/* Zorgcirkels Diabetes */
.btn-zc-diabetes {
  background-color: #f5b500;
  border-color: #f5b500;
  color: #FFFFFF;
}
.btn-zc-diabetes:hover,
.btn-zc-diabetes:focus,
.btn-zc-diabetes:active,
.btn-zc-diabetes.active {
  /* background-color: #f5b500; */
  background-color: #ffffff;
  border-color: #dba200;
  color: #f5b500;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.btn-zc-diabetes.disabled:hover,
.btn-zc-diabetes.disabled:focus,
.btn-zc-diabetes.disabled:active,
.btn-zc-diabetes.disabled.active,
.btn-zc-diabetes[disabled]:hover,
.btn-zc-diabetes[disabled]:focus,
.btn-zc-diabetes[disabled]:active,
.btn-zc-diabetes[disabled].active,
fieldset[disabled] .btn-zc-diabetes:hover,
fieldset[disabled] .btn-zc-diabetes:focus,
fieldset[disabled] .btn-zc-diabetes:active,
fieldset[disabled] .btn-zc-diabetes.active {
  background-color: #f5b500;
  border-color: #f5b500;
}
/* Zorgcirkels VRM */
.btn-zc-vrm {
  background-color: #3eb64a;
  border-color: #3eb64a;
  color: #FFFFFF;
}
.btn-zc-vrm:hover,
.btn-zc-vrm:focus,
.btn-zc-vrm:active,
.btn-zc-vrm.active {
  /* background-color: #38a342; */
  background-color: #ffffff;
  border-color: #31903b;
  color: #3eb64a;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.btn-zc-vrm.disabled:hover,
.btn-zc-vrm.disabled:focus,
.btn-zc-vrm.disabled:active,
.btn-zc-vrm.disabled.active,
.btn-zc-vrm[disabled]:hover,
.btn-zc-vrm[disabled]:focus,
.btn-zc-vrm[disabled]:active,
.btn-zc-vrm[disabled].active,
fieldset[disabled] .btn-zc-vrm:hover,
fieldset[disabled] .btn-zc-vrm:focus,
fieldset[disabled] .btn-zc-vrm:active,
fieldset[disabled] .btn-zc-vrm.active {
  background-color: #3eb64a;
  border-color: #3eb64a;
}
/* effecten */
.fade {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.fade:hover {
  opacity: 1;
}
