/* CSS voor Punch WP Bootstrap */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url(../../../library/wpb/images/bkg-900.png) top center no-repeat #eeeeee;
  background-size: cover;
  padding-top: 10px;
  color: #583aae;
  /* Margin bottom by footer height
    margin-bottom: 60px; */
}
hr {
  color: #ba71ca !important;
  background-color: #ba71ca !important;
  height: 4px;
  border-radius: 3px;
  margin: 4px 15px 4px !important;
  padding: 0;
}
.home-link {
  border: none;
  border: hidden;
}
.wpb-header {
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: #FFF;
  padding: 5px;
  margin: 0 0 3px 0;
  border-radius: 4px;
  background: url(../../../library/wpb/bkg/wit-80.png) top left repeat !important;
}
@media (min-width: 768px) {
  .wpb-header {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }
}
.wpb-header-title,
.wpb-header-title a {
  border: none;
  color: #59459C;
}
.wpb-header-logo {
  border: none;
  margin-bottom: 5px;
}
.wpb-header-text {
  margin-left: 0;
  background: url(../../../library/wpb/bkg/paars.png) top left repeat;
  border-radius: 4px;
}
.navbar {
  background: url(../../../library/wpb/bkg/wit-80.png) top left repeat !important;
  margin-bottom: 3px !important;
  border: none !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: url(../../../library/wpb/bkg/paars-80.png) top left repeat !important;
  color: #FFFFFF;
}
/* aanpassen aan bootstrap css settings */
/* jumbotron styles
-------------------------------------------------- */
.jumbotron {
  margin-bottom: 3px !important;
}
#main article {
  margin-bottom: 5px;
  border: none;
}
#content {
  padding-top: 0 !important;
}
.page-header {
  margin-top: 3px !important;
}
.post-header {
  background-color: #ba71ca;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.post-header-title {
  font-size: 11px;
  color: #583aae;
  padding-right: 10px;
  padding-left: 30px;
}
.post_content {
  padding: 0 15px !important;
}
.tp-zorgcirkels-2 {
  background-color: #583aae;
}
.tp-copd-2 {
  background-color: #ee1c25;
}
.tp-diabetes-2 {
  background-color: #ffc10f;
}
.tp-vrm-2 {
  background-color: #3eb64a;
}
.tp-links-2 {
  background-color: #583aae;
}
.tp-zorgcirkels-4,
.tp-copd-4,
.tp-diabetes-4,
.tp-vrm-4,
.tp-links-4 {
  background: url(../../../library/wpb/images/post-header-bkg.png) top left no-repeat;
  border-radius: 3px;
}
/* 404 zoek veld */
.zoek-404 {
  margin: 10px 0 10px;
}
/* template met thumbnails in 4 kolommen */
.thumb-4-col {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  background: url(../../../library/wpb/bkg/wit-80.png) top left repeat !important;
}
.thumb-4-col img {
  width: 100%;
}
.thumb-4-col-caption {
  margin: 0 2px 0 4px;
  color: #583AAE;
}
.thumb-cols {
  padding: 8px 0 8px 0 !important;
}
.thumb-col-img {
  border-radius: 4px;
}
/* Sticky footer styles
-------------------------------------------------- */
.sticky-footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-right: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  background: url(../../../library/wpb/bkg/paars.png) top left repeat !important;
}
.footer a {
  color: #FFFFFF;
  font-size: 12px;
}
/* custom buttons */
/* Zorgcirkels basis */
.btn-zc-basis {
  background-color: #BA71CA;
  border-color: #BA71CA;
  color: #FFFFFF;
}
.btn-zc-basis:hover,
.btn-zc-basis:focus,
.btn-zc-basis:active,
.btn-zc-basis.active {
  background-color: #b15ec3;
  border-color: #a84cbc;
  color: #FFFFFF;
}
.btn-zc-basis.disabled:hover,
.btn-zc-basis.disabled:focus,
.btn-zc-basis.disabled:active,
.btn-zc-basis.disabled.active,
.btn-zc-basis[disabled]:hover,
.btn-zc-basis[disabled]:focus,
.btn-zc-basis[disabled]:active,
.btn-zc-basis[disabled].active,
fieldset[disabled] .btn-zc-basis:hover,
fieldset[disabled] .btn-zc-basis:focus,
fieldset[disabled] .btn-zc-basis:active,
fieldset[disabled] .btn-zc-basis.active {
  background-color: #BA71CA;
  border-color: #BA71CA;
}
/* Zorgcirkels COPD */
.btn-zc-copd {
  background-color: #EE1C25;
  border-color: #EE1C25;
  color: #FFFFFF;
}
.btn-zc-copd:hover,
.btn-zc-copd:focus,
.btn-zc-copd:active,
.btn-zc-copd.active {
  background-color: #A10306;
  border-color: #c80f17;
  color: #FFFFFF;
}
.btn-zc-copd.disabled:hover,
.btn-zc-copd.disabled:focus,
.btn-zc-copd.disabled:active,
.btn-zc-copd.disabled.active,
.btn-zc-copd[disabled]:hover,
.btn-zc-copd[disabled]:focus,
.btn-zc-copd[disabled]:active,
.btn-zc-copd[disabled].active,
fieldset[disabled] .btn-zc-copd:hover,
fieldset[disabled] .btn-zc-copd:focus,
fieldset[disabled] .btn-zc-copd:active,
fieldset[disabled] .btn-zc-copd.active {
  background-color: #EE1C25;
  border-color: #EE1C25;
}
/* Zorgcirkels Diabetes */
.btn-zc-diabetes {
  background-color: #FFC10F;
  border-color: #FFC10F;
  color: #FFFFFF;
}
.btn-zc-diabetes:hover,
.btn-zc-diabetes:focus,
.btn-zc-diabetes:active,
.btn-zc-diabetes.active {
  background-color: #f5b500;
  border-color: #dba200;
  color: #FFFFFF;
}
.btn-zc-diabetes.disabled:hover,
.btn-zc-diabetes.disabled:focus,
.btn-zc-diabetes.disabled:active,
.btn-zc-diabetes.disabled.active,
.btn-zc-diabetes[disabled]:hover,
.btn-zc-diabetes[disabled]:focus,
.btn-zc-diabetes[disabled]:active,
.btn-zc-diabetes[disabled].active,
fieldset[disabled] .btn-zc-diabetes:hover,
fieldset[disabled] .btn-zc-diabetes:focus,
fieldset[disabled] .btn-zc-diabetes:active,
fieldset[disabled] .btn-zc-diabetes.active {
  background-color: #FFC10F;
  border-color: #FFC10F;
}
/* Zorgcirkels VRM */
.btn-zc-vrm {
  background-color: #3EB64A;
  border-color: #3EB64A;
  color: #FFFFFF;
}
.btn-zc-vrm:hover,
.btn-zc-vrm:focus,
.btn-zc-vrm:active,
.btn-zc-vrm.active {
  background-color: #38a342;
  border-color: #31903b;
  color: #FFFFFF;
}
.btn-zc-vrm.disabled:hover,
.btn-zc-vrm.disabled:focus,
.btn-zc-vrm.disabled:active,
.btn-zc-vrm.disabled.active,
.btn-zc-vrm[disabled]:hover,
.btn-zc-vrm[disabled]:focus,
.btn-zc-vrm[disabled]:active,
.btn-zc-vrm[disabled].active,
fieldset[disabled] .btn-zc-vrm:hover,
fieldset[disabled] .btn-zc-vrm:focus,
fieldset[disabled] .btn-zc-vrm:active,
fieldset[disabled] .btn-zc-vrm.active {
  background-color: #3EB64A;
  border-color: #3EB64A;
}
