/* CSS voor Punch WP Bootstrap */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url(../../../library/wpb/images/bkg-900.png) top center no-repeat #eeeeee;
  padding-top: 10px;
  /* Margin bottom by footer height
    margin-bottom: 60px; */
}
.home-link {
  border: none;
  border: hidden;
}
.page-header {
  border: none;
}
.navbar {
  background: url(../../../library/wpb/bkg/wit-60.png) top left repeat !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: url(../../../library/wpb/bkg/paars-80.png) top left repeat !important;
  color: #FFFFFF;
}
/* jumbotron styles
-------------------------------------------------- */
.jumbotron {
  background: url(../../../library/wpb/bkg/wit-60.png) top left repeat !important;
  margin-bottom: 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
.sticky-footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer,
.footer a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  background-color: transparent;
  border-radius: 4px;
  color: #FFFFFF;
}
.footer {
  background: url(../../../library/wpb/bkg/paars-80.png) top left repeat !important;
}
